body {
  margin: 0;
  font-family: Arial;
  text-align: center;
}

header {
  background: #222;
  color: white;
  padding: 15px;
}

.hero {
  padding: 60px;
  background: lightblue;
}

.features {
  padding: 40px;
}

.card {
  display: inline-block;
  background: #eee;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}

footer {
  background: #222;
  color: white;
  padding: 10px;
}

/* Dark Mode */
.dark {
  background: black;
  color: white;
}